@page "/games"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BuBTT.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager UriHelper

<h1>List of Tabletop Systems</h1>

<p>Click on a game to see your collection.</p>

@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card-columns">
        @foreach (var game in games)
        {
            <div class="card bg-light">
                <div class="card-body txt-center">
                    <p class="card-text" @onclick="@(() => IncrementCount(game))">@game.Name</p>
                </div>
            </div>
        }
    </div>
}

@code {
    private Game[] games;

    protected void IncrementCount(Game currentGame)
    {
        UriHelper.NavigateTo($"games/{currentGame.GameId}");
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            games = await Http.GetFromJsonAsync<Game[]>("Games");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
